body {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #595757;
  }

.wall-tile-container {
  background-image: url(/static/img/chinese-wall-tile_2.jpg);
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0.5;
}

.site-heading {
  position: absolute;
  top: 13%;
  left: 2%;
}

h1 {
  font-family: 'Julee', cursive;
  letter-spacing: 2px;
  color: rgb(165, 15, 15);;
  text-align: left;
  opacity: 1;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: bold;
}

.subheading {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin: 50px 80px;
}

#main-nav {
  margin-left: 65%;
  position: absolute;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: bold;
}

nav a {
  display: block;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
}

#about {
  display: flex;
  padding: 2rem;
}

.our-food {
  width: 50%;
  height: 70%;
  padding: 20px;
  border-right: 2px solid rgb(165, 15, 15);
}

.register-container {
  width: 50%;
  height: 70%;
  padding: 20px;
  position: static;
  text-align: center;
}

.register-link a {
  text-decoration: none;
}

.register-link h5 {
  border: 1px solid rgb(165, 15, 15);
  padding: 10px;
  width: 50%;
}

.register-link h5:hover {
  background-color: rgba(165, 15, 15, 0.2);
}

#contact {
  display: flex;
  padding: 2rem;
}

.contact-details {
  width: 50%;
  padding: 20px;
  border-right: 2px solid rgb(165, 15, 15);
}

.hero-image {
  width: 100%;
  height: 500px;
  margin: 20px;
  object-fit: cover;
}

.address {
  padding: 25px;
  text-align: center;
}

/* Social media links */

footer {
  height: 1%;
  border-top: 5px solid rgb(165, 15, 15);
}

.social-networks {
  text-align: center;
  margin-bottom: 2px;
}

.social-networks>li {
  display: inline;
}

.social-networks i {
  font-size: 170%;
  padding: 20px;
  color: rgb(165, 15, 15);
}

.social-networks i:hover {
  transform: scale(1.5);
}

.copyright {
  text-align: right;
  margin: 2px;
  font-size: small;
}