body {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #595757;
    display: flex;
    flex-direction: column;
  }

main{
  flex-grow: 1;
}

.wall-tile-container {
  background-image: url(/static/img/chinese-wall-tile_2.jpg);
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0.5;
  margin-top: 5px;
}

.site-heading {
  position: absolute;
  top: 10%;
  left: 2%;
}

h1 {
  font-family: 'Julee', cursive;
  letter-spacing: 2px;
  color: rgb(165, 15, 15);;
  text-align: left;
  opacity: 1;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: bold;
}

.subheading {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin: 50px 80px;
  letter-spacing: 2px;
}

#main-nav {
  margin-left: 65%;
  position: absolute;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: bold;
}

nav a {
  display: block;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
}

#about {
  display: flex;
  padding: 2rem;
}

.our-food {
  height: 70%;
  padding: 20px;
  border-right: 2px solid rgb(165, 15, 15);
}

.register-container {
  height: 70%;
  padding: 20px;
  margin-top: 80px;
  position: static;
  text-align: center;
}

.register-text a {
  text-decoration: none;
  color: rgb(34, 112, 201);
  font-weight: bolder;
}

.register-text h5 {
  border: 1px solid rgb(165, 15, 15);
  padding: 10px;
  width: 250px;
  right: 15%;
  margin-top: 25px;
  position: absolute;
}

.register-text h3:hover {
  background-color: rgba(165, 15, 15, 0.2);
  border: 1px solid rgb(34, 112, 201);
}

#contact {
  display: flex;
  padding: 2rem;
}

.contact-details {
  padding: 20px;
  border-right: 2px solid rgb(165, 15, 15);
}

.hero-image {
  width: 100%;
  height: 650px;
  object-fit: cover;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.map {
  padding: 20px;
  right: 5px;
  margin-top: 25px;
  position: absolute;
}

/* Social media links */

footer {
  height: 1%;
  border-top: 5px solid rgb(165, 15, 15);
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
}

.social-networks {
  text-align: center;
  margin-bottom: 2px;
}

.social-networks>li {
  display: inline;
}

.social-networks i {
  font-size: 170%;
  padding: 20px;
  color: rgb(165, 15, 15);
}

.social-networks i:hover {
  transform: scale(1.5);
}

.copyright {
  text-align: right;
  margin: 2px;
  font-size: small;
}

#makebooking {
  text-align: center;
  margin: 0 auto;
  margin: 20px;
  padding: 10px;
}

#yourbookings h2, .menu_title {
  text-align: center;
  margin: 0 auto;
  margin: 20px;
  padding: 10px;
}

#signout {
  margin: 10px;
  padding: 5px;
  text-align: center;
}

#registration, #login, #update_booking {
  margin: 30px;
  padding: 10px;
  text-align: center;
}

.menu {
  text-align: center;
  padding: 5px;
  border: 1px solid rgb(165, 15, 15);
  max-width: fit-content;
  margin: 0 auto;
  margin-bottom: 50px;
}

.menu ul {
  list-style: none;
}

.menu_title {
  color: rgb(165, 15, 15);
} 

#update_booking li, #registration2 li {
  list-style: none;
}