{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <title>Baolau</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <ul>
        <li><a href="#menu">Sign In</a></li>
        <li><a href="#about">Our Food</a></li>
        <li><a href="#contact">Come Find Us</a></li>
      </ul>
    </nav>
    <h1>Baolau</h1>
    <p>
      Indulge in the ultimate dining experience with our authentic 
      and meticulously crafted Chinese cuisine, expertly prepared by 
      our world-class chefs using only the finest ingredients.
    </p>
  </header>

  <main>
    <section id="menu">
      <h2>Our Food</h2>
      <p>The food at our Chinese restaurant is a true reflection of the 
        diverse and rich culinary traditions of China. Our menu features 
        a variety of classic dishes all made with the freshest and 
        highest quality ingredients.

        Each dish is expertly prepared by our skilled chefs who have 
        honed their craft over years of experience. Whether you're 
        in the mood for a steaming hot bowl of Wonton soup, a delicious 
        fried rice or a succulent char siu pork, we guarantee that you will 
        be blown away by the flavors and aromas of our authentic dishes. 
      </p>
    </section>
    <section id="contact">
      <h2>Come Find Us</h2>
      <p>We believe that dining should be an experience, not just a meal, 
        and we strive to provide a warm and inviting atmosphere to 
        complement our exquisite food. Come visit us and discover why 
        our restaurant is a favorite among food lovers everywhere.</p>
    </section>
  </main>

  <footer>
    <ul class="social-networks">
        <li>
            <a href="https://facebook.com" target="_blank" rel="noopener"
                aria-label="Visit our Facebook page (opens in a new tab)"><i class="fa-brands fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com" target="_blank" rel="noopener"
                aria-label="Visit our Twitter page (opens in a new tab)"><i class="fa-brands fa-twitter-square"></i>
            </a>
        </li>
        <li>
            <a href="https://instagram.com" target="_blank" rel="noopener"
                aria-label="Visit our Instagram page (opens in a new tab)"><i
                    class="fa-brands fa-instagram-square"></i>
            </a>
        </li>
        <li>
            <a href="https://youtube.com" target="_blank" rel="noopener"
                aria-label="Visit our YouTube page (opens in a new tab)"><i class="fa-brands fa-youtube-square"></i>
            </a>
        </li>
        <li>
            <a href="https://linkedin.com" target="_blank" rel="noopener"
                aria-label="Visit our LinkedIn page (opens in a new tab)"><i class="fa-brands fa-linkedin"></i>
            </a>
        </li>
    </ul>
    <p>Copyright &copy; Baolau 2023</p>
</footer>

</body>

</html>