{% extends "base.html" %}

{% block content %}

<main>
    <div id="about">
        <span class="our-food">
            <h2>Our Food</h2>
            <br>
            <p>The food at our Chinese restaurant is a true reflection of the 
                diverse and rich culinary traditions of China. Our menu features 
                a variety of classic dishes all made with the freshest and 
                highest quality ingredients.

                Each dish is expertly prepared by our skilled chefs who have 
                honed their craft over years of experience. Whether you're 
                in the mood for a steaming hot bowl of Wonton soup, a delicious 
                fried rice or a succulent char siu pork, we guarantee that you will 
                be blown away by the flavors and aromas of our authentic dishes. 
            </p>
        </span>

        <span class="register">
            <h3>
                Want to make a reservation? 
            </h3>
            <a href="" class="register-link">
                <h5>Create an account or sign in here!</h5>
            </a>
        </span>
    </div>
    
    <div>
        <img src="/static/img/chinese-food.jpg" alt="chinese food" class="hero-image">
    </div> 

    <div id="contact">
        <span class="contact-details">
            <h2>Come Find Us</h2>
            <br>
            <p>We believe that dining should be an experience, not just a meal, 
                and we strive to provide a warm and inviting atmosphere to 
                complement our exquisite food. Come visit us and discover why 
                our restaurant is a favorite among food lovers everywhere.
            </p>
        </span>
        <span class="map">
        </span>
    </div>
  </main>

{%endblock%}