{% extends "base.html" %}

{% block content %}
<h2 class="menu_title"><strong>Menu</strong></h2>

<div class="menu">
    <div>
        <h3><strong>Starters</strong></h3>
    </div>
    <div>
        <ul>
            <li>
                Pan Fried Shanghai Dumplings
            </li>
            <li>
                Xiao Long Baos
            </li>
            <li>
                Assorted Dim Sum
            </li>
            <li>
                Peking Duck Pancakes
            </li>
            <li>
                Chilli Pork Mince Lettuce Wraps
            </li>
        </ul>
    </div>

    <br>

    <div class="container">
        <div>
            <h3><strong>Mains</strong></h3>
        </div>
        <div>
            <ul>
                <li>
                    Baolau Signature Wonton Noodles
                </li>
                <li>
                    Yeung Chow Fried Rice
                </li>
                <li>
                    Char Siu and Roasted Pork Rice
                    With Ginger and Scallions
                </li>
                <li>
                    Sweet and Sour Sizzling King Prawns
                </li>
                <li>
                    Garlic Broccoli
                </li>
                <li>
                    Morning Glory
                </li>
            </ul>
        </div>
    </div>

    <br>

    <div class="container">
        <div>
            <h3><strong>Dessert</strong></h3>
        </div>
        <div>
            <ul>
                <li>
                    Hong Kong Egg Tarts
                </li>
                <li>
                    Mochi Balls
                </li>
            </ul>
        </div>
    </div>
</div>
    {%endblock%}